/* ==========================================================================
    Colors
   ========================================================================== */

/* ==============================
          Blues
   ============================== */
$cornflower:        #90C2E7;
$firefly:           #051014;
$fountain-blue:     #5AB1BB;
$geyser:            #CDDDDD;

/* ==============================
       Grays
   ============================== */
$cape-cod:          #2E2F2F;
$tower-gray:        #ACBDBA;

/* ==============================
       Greens
   ============================== */
$deep-sea-green:    #0B5351;
$persian-green:     #00A9A5;

/* ==============================
       Reds
   ============================== */
$russet:            #7B565E;
