/* ==========================================================================
    Colors
   ========================================================================== */

/* ==============================
          Theme
   ============================== */
$black:             #000000;
$crimson:           #D11149;
$wedgewood:         #437F97;
$chilean-fire:      #F17105;
$zigurat:           #C0D6DF;


/* ==============================
          Blues
   ============================== */
$cornflower:        #90C2E7;
$firefly:           #051014;
$fountain-blue:     #5AB1BB;
$geyser:            #CDDDDD;

/* ==============================
       Grays
   ============================== */
$cape-cod:          #2E2F2F;
$tower-gray:        #ACBDBA;

/* ==============================
       Greens
   ============================== */
$deep-sea-green:    #0B5351;
$persian-green:     #00A9A5;

/* ==============================
       Reds
   ============================== */
$russet:            #7B565E;
$rouge:             #A03E99;
$tulip:             #F6828C;
$sundown:           #FFBCB5;
$mauvelous:         #F59CA9;

/* ==============================
       Browns
   ============================== */
$crater-brown:      #462521;
$frangipani:        #FFE0B5;
$parchment:         #F2E5D7;


